<div class="card">
  <div class="card-body">
     <table class="table">
          <thead>
             <tr>
             <%= @output%>
     <%= @output["error"]%>
     </tr>
  </div>
</div>






   
 
  
     
      
  </tbody>
</table>